<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Przykład Tymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="background: #90a5cc; padding: 20px;">
    <h1>Schronisko Reksio i Klakier</h1>
</div>

<form action="/dopisujeZwierzaka" method="post" th:object="${pustyZwierzak}">
    Nazwa: <input type="text" th:field="*{name}" /><br/>
    Opis: <input type="text" th:field="*{desc}" /><br/>
    <input type="submit" value="Dodaj" />
</form>


</body>
</html>