<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Przykład Tymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="background: #90a5cc; padding: 20px;">
    <h1>Schronisko Reksio i Klakier</h1>
</div>

<form action="/szukamZwierzaka" method="post" th:object="${pustyZwierzak}">
    Nazwa: <input type="text" th:field="*{name}" /><br/>
    Opis: <input type="text" th:field="*{desc}" /><br/>
    <p>Kategoria
            <select th:field="*{category}">
                <option th:each="category: ${T(com.javastart.schronisko.Category).values()}" th:value="${category}" th:text="${category}"></option>
                </select>
            </p>

    <input type="submit" value="Szukaj" />
</form>


</body>
</html>